/esii-2025-d2/bin/Debug/net9.0/Microsoft.AspNetCore.Metadata.dll
# Visual Studio Code
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln.docstates
*.testsettings
*.build.gantt
*.rnlinx
*.dmp
*.vspscc
*.vssscc
*_i.c
*_p.c
*.ilk
*.log
*.lib
*.sbr
*.sdf
*.tlb
*.tlh
*.tmp
*.user
*.vsixmanifest
*.vsmdi
*.vstemplate
*.vspolicy
*.vssettings
*.vsdconfig
*.vsmacros
*.vshost.exe
*.vshost.exe.config
*.vshost.config
*.vshost
*.vshost.manifest
*.vshost.resources
*.vshost.*.pdb
*.vshost.Clr4
*.vshost.Clr4.config
*.vshost.Clr4.manifest
*.vshost.Clr4.resources
*.vshost.Clr4.*.pdb
[Tt]est[Rr]esult*
[Bb]uild[Ll]og.*

# JetBrains Rider
.idea/
*.iml
*.ipr
*.iws

# .NET Folders
[Bb]in/
[Oo]bj/
*.nuget.props
*.nuget.targets
project.lock.json
packages/

# ASP.NET Core Folders
wwwroot/lib/
wwwroot/temp/
[Pp]ublish/

# General
*.bak
*.chm
*.cmd
*.config
*.dll
*.exe
*.ini
*.itb
*.log
*.mdb
*.mdf
*.msi
*.msm
*.msp
*.pdb
*.psd
*.resources
*.rpt
*.sql
*.suo
*.tlb
*.tmp
*.userprefs
_ReSharper*/
__history/
__prev/
*.DS_Store
*.pid
*.orig
*.pyc
*.swp
*.zip
*.rar
*.7z
