@page "/talents"
@using Microsoft.AspNetCore.Authentication
@using Microsoft.AspNetCore.Identity
@using esii_2025_d2.Data


<PageTitle>Getão e criação de talentos</PageTitle>

<h1>Getão e criação de talentos</h1>

<MudTable Striped="true" Hover="true">
    <HeadContent>
        <MudTh>Area</MudTh>
        <MudTh>Nome</MudTh>
    </HeadContent>
    <RowTemplate>
        <MudTd DataLabel="Area">@context.area</MudTd>
        <MudTd DataLabel="Nome">@context.nome</MudTd>
    </RowTemplate>
</Mudtable>