@*
@page "/Talents"
@using Microsoft.AspNetCore.Authentication
@using Microsoft.AspNetCore.Identity
@using esii_2025_d2.Data
@using MudBlazor

<PageTitle>Getão e criação de talentos</PageTitle>

<h1>Getão e criação de talentos</h1>

<MudTable Items="@lista" Striped="true" Hover="true" Bordered AllowUnsorted="true">
    <HeaderContent>
        <MudTh>Area</MudTh>
        <MudTh>Nome</MudTh>
    </HeaderContent>
    <RowTemplate>
        <MudTd DataLabel="Area">@context.area</MudTd>
        <MudTd DataLabel="Nome">@context.nome</MudTd>
    </RowTemplate>
</Mudtable>

@code{
    private List<

    }
    *@