@page "/talents"

<PageTitle>Getão e criação de talentos</PageTitle>

<h1>Getão e criação de talentos</h1>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Area</th>
        </tr>
    </thead>
    <tbody>
        @foreach
        
    </tbody>

</table>    using Microsoft.CodeAnalysis.CSharp;
    using Microsoft.AspNetCore.WebUtilities;
