@inherits LayoutComponentBase

<div class="page">
    <!-- Barra de Navegação -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top w-100">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Minha Aplicação</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <div class="d-flex ms-auto">
                    <a class="btn btn-primary me-2" href="/login">Login</a>
                    <a class="btn btn-secondary" href="/register">Registo</a>
                </div>
            </div>
        </div>
    </nav>

    
    <!-- Conteúdo principal da página -->
    <main>
        <div class="top-row px-4">
            <a href="https://learn.microsoft.com/aspnet/core/" target="_blank">About</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>