<header>
    <!-- Novo menu de navegação -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Minha Aplicação</a>
            <div class="d-flex">
                <a class="btn btn-primary me-2" href="/login">Login</a>
                <a class="btn btn-secondary" href="/register">Registo</a>
            </div>
        </div>
    </nav>
</header>