@page "/"
@using ESII2025d2.Models
@inject HttpClient Http

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

@if (clientes == null)
{
    <p>Loading...</p>
}
else
{
    @foreach (var cliente in clientes)
    {
        <p>@cliente.empresa</p>
    }
}


@code{

    Cliente[] clientes;
    
    protected override async Task OnInitializedAsync()
    {
        clientes = await Http.GetFromJsonAsync<Cliente[]>("api/Cliente");
    }
}