@page "/skill"
@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Authentication
@inject NavigationManager Navigation



<PageTitle>Skills</PageTitle>

<h1 class="header">Edição e adição de Skills</h1>
<div class="container">
    @code{

    }
    <p></p>
    <hr class="divider"/>
    <button class="btn-transparente">Adicionar skill</button>
</div>